@model IEnumerable<Foldrengesek2026.Models.Naplo>

@{
    ViewData["Title"] = "Index";

    int currentPage = (int)ViewData["CurrentPage"]!;
    int totalPages = (int)ViewData["TotalPages"]!;

    int totalCount = (int)ViewData["TotalCount"]!;

    string ToggleDir(string column)
    => (ViewData["CurrentSort"]?.ToString() == column &&
        ViewData["CurrentDir"]?.ToString() == "asc")
       ? "desc"
       : "asc";

    string SortIcon(string column)
    {
        if (ViewData["CurrentSort"]?.ToString() != column)
            return "";

        return ViewData["CurrentDir"]?.ToString() == "asc"
            ? " ▲"
            : " ▼";
    }
}

<h1>Index</h1>

@if (User.IsInRole("User") || User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index" method="get">
    <p>
        Szűrők:
        <input type="date" name="datum" value="@ViewData["AktualisDatumSzuro"]" placeholder="dátum" />

        <select name="telepulesid" asp-items="ViewBag.TelepulesID">
            <option value="0">Minden település</option>
        </select>

        <input type="submit" value="Keresés" class="btn btn-primary" />
    </p>
</form>
<p>Összesen: <strong>@totalCount</strong> találat.</p>
<nav>
    <ul class="pagination">
        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage - 1)"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID"
                   asp-route-sort="@ViewData["CurrentSort"]"
                   asp-route-dir="@ViewData["CurrentDir"]">
                    Előző
                </a>
            </li>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@i"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID"
                   asp-route-sort="@ViewData["CurrentSort"]"
                   asp-route-dir="@ViewData["CurrentDir"]">
                    @i
                </a>
            </li>
        }

        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage + 1)"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID"
                   asp-route-sort="@ViewData["CurrentSort"]"
                   asp-route-dir="@ViewData["CurrentDir"]">
                    Következő
                </a>
            </li>
        }
    </ul>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-page="@currentPage"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID"
                   asp-route-sort="datum"
                   asp-route-dir="@ToggleDir("datum")">
                    @Html.DisplayNameFor(model => model.Datum) @SortIcon("datum")
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ido)
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@currentPage"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID"
                   asp-route-sort="magnitudo"
                   asp-route-dir="@ToggleDir("magnitudo")">
                    @Html.DisplayNameFor(model => model.Magnitudo) @SortIcon("magnitudo")
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@currentPage"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID"
                   asp-route-sort="intenzitas"
                   asp-route-dir="@ToggleDir("intenzitas")">
                    @Html.DisplayNameFor(model => model.Intenzitas) @SortIcon("intenzitas")
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@currentPage"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID"
                   asp-route-sort="telepulesnev"
                   asp-route-dir="@ToggleDir("telepulesnev")">
                    @Html.DisplayNameFor(model => model.Telepules!.Nev) @SortIcon("telepulesnev")
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magnitudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intenzitas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telepules!.Nev)
            </td>
            <td>
                <partial name="_CrudLinks" model="@item.ID" />
            </td>
        </tr>
}
    </tbody>
</table>
