@model IEnumerable<Foldrengesek2026.Models.Naplo>

@{
    ViewData["Title"] = "Index";

    int currentPage = (int)ViewData["CurrentPage"]!;
    int totalPages = (int)ViewData["TotalPages"]!;

    int totalCount = (int)ViewData["TotalCount"]!;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <p>
        Szűrők:
        <input type="date" name="datum" value="@ViewData["AktualisDatumSzuro"]" placeholder="dátum" />

        <select name="telepulesid" asp-items="ViewBag.TelepulesID">
            <option value="0">Minden település</option>
        </select>

        <input type="submit" value="Keresés" class="btn btn-primary" />
    </p>
</form>
<p>Összesen: <strong>@totalCount</strong> találat.</p>
<nav>
    <ul class="pagination">
        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage - 1)"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID">
                    Előző
                </a>
            </li>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@i"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID">
                    @i
                </a>
            </li>
        }

        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(currentPage + 1)"
                   asp-route-datum="@ViewData["AktualisDatumSzuro"]"
                   asp-route-telepulesid="@ViewBag.TelepulesID">
                    Következő
                </a>
            </li>
        }
    </ul>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magnitudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intenzitas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telepules!.Nev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magnitudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intenzitas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telepules!.Nev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
